<html>
	<head>
       <title>Green Monitor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="static/assets/css/main.css" /> 
    </head>
    
	<body>
         <!--<section id="header">
            <header class="major">
                <h1>Green Monitor</h1>
                <p>Observe green cover change across the seasons<br></p>
                <p style="font-size:50%"><a href="https://www.planet.com/gallery/chaco-boreal/"> Image: Cacho Boreal</a></p>
            </header>
	
            <div class="container">
                <ul class="actions">
                    <li><a href="#one" class="button special scrolly">Begin</a></li>
                </ul>
            </div>
        </section>
-->
    <section id="one" class="main special">
        <div class="container" >
            <input id="toggle-drawing" type="button" value="Drawing Tools">
            <h1>Maps Test</h1>
            <div id="map" ></div>

            <script src = "static/assets/js/maps.js"></script>
        </div>
       
    </section>
            
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?libraries=drawing,geometry&key={{key}}&v=3&callback=initMap">
    </script>
    </body>
</html>